<h1>Dragonball personajes</h1>
<hr>

<section class="row">
  <div class="col-12 col-sm-6">
    <h3>Agregar</h3>
    <input type="text" class="form-control" placeholder="Nombre">
    <input type="number" class="mt-2 form-control" placeholder="Poder">
    <button class="mt-2 btn btn-primary">Agregar</button>
  </div>
  <div class="col-12 col-sm-6">
    <h3>Listado</h3>
    <ul>
      @for (character of characters(); track character.id;let index = $index) {
      @if (character.poder >400) {
        <li> {{character.name}} <strong [class.text-danger]="character.poder > 8000"
          [class.text-primary]="character.poder < 8000">{{character.poder}}</strong></li>
      }
      }
    </ul>
  </div>
</section>
